.block {
	border: 1px solid black;
}

#container {
	height: 100%; 
	width:100%; 
	font-size: 0;
}

#mainnav, #maincontent, #subnav {
	display: inline-block; 
	*display: inline; 
	zoom: 1; 
	vertical-align: top; 
	font-size: 12px;
}

#mainnav {
	width: 15%; 
	/* background: blue; */
}

#maincontent {
	width: 70%; 
	background: #fffff0;
}

#subnav {
	width: 15%; 
	background: yellow;
}

#topnav {
	width: 100%;
	background: red;
}
